.valoresClases{
    
    padding-bottom: 20px;
  color: black;
}
.padrePrecios{
    display: grid;
    grid-template-areas: "claseGt precioGt" "claseTeoria precioTeoria";
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;

}

.claseGt{
    grid-area: claseGt;
}

.precioGt{
    grid-area: precioGt;
}
.claseTeoria{
    grid-area: claseTeoria
}
.precioTeoria{
    grid-area: precioTeoria;
}

.rojoBs{
    background-color: #DD3643;
    color: white;
    font-size: 25px;
    font-weight: 600;
    &[aria-expanded=true]{
        background-color: #fac0c0;
        color: #DD3643;
        
    }

   
    }

.picClases{
    background-image: url(../Imagenes/fotoClasesEmi.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
  
