.gridMaterial{
    display: grid;
    grid-template-areas: "imgMaterial materialGt" "imgMaterial materialTeoria" "imgMaterial materialAudio";
    grid-template-rows: 340px 340px 340px;
    grid-template-columns: 21% 79%;
    text-align: center;
    
}
.imagenMaterial{
    background-image: url(../Imagenes/materiales_teoricos.png);
    grid-area: imgMaterial;
    background-repeat: no-repeat;
}
.materialGt{
    grid-area: materialGt;
    background-color: #DD3643;
    color: white;
  
    
}
.materialTeoria{
    grid-area: materialTeoria;
    
}
.materialAudio{
    grid-area: materialAudio;
    background-color: #DD3643;
    color: white;
}


.botonDescarga{
    display: inline-block;
    border: solid black 3px;
    background-color: white ;
    border-radius: 25px;
    padding: 5px;
}

.botonDescarga:hover {
    transform: scale(1.3,1);
}

.insetHover:hover {
    box-shadow: inset grey 4px 4px 4px;
}

