.gridMaterial{
    display: grid;
    grid-template-areas: "imgMaterial materialGt" "imgMaterial materialTeoria" "imgMaterial materialAudio";
    grid-template-rows: 340px 340px 340px;
    grid-template-columns: 21% 79%;
    text-align: center;
    
    
}
.imagenMaterial{
    background-image: url(../Imagenes/materiales_teoricos.png);
    grid-area: imgMaterial;
    background-repeat: no-repeat;
}
.materialGt{
    grid-area: materialGt;
    background-color: #DD3643;
    color: white;
  
    
}
.materialTeoria{
    grid-area: materialTeoria;
    
}
.materialAudio{
    grid-area: materialAudio;
    background-color: #DD3643;
    color: white;
}


.botonDescarga{
    display: inline-block;
    border: solid black 3px;
    background-color: white ;
    border-radius: 25px;
    padding: 10px;
    box-shadow: #ffc2c2 2px 2px 2px;
  
  transition: all .5s ease-out;
}

.botonDescarga:hover {
    border: solid black 3px;
    background:linear-gradient(to bottom right,#2400ff, #DD3643 ); ;
    border-radius: 25px;
    padding: 10px;
    color: white;
   
}

.insetHover:hover {
    box-shadow: inset grey 4px 4px 4px;
}

