@media only screen and (max-width: 720px) {
    .gridMaterial{
        display: grid;
    grid-template-areas: "imgMaterial " "materialGt " "materialTeoria " "materialAudio";
    grid-template-rows: 36rem 36rem 36rem 36rem;
    grid-template-columns: 100%;
    text-align: center;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    h6{
        line-height: 20px;
        margin-left: 5%;
    }
    .socialDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
    }
    header{
        background-color: white;
        padding-bottom: 1.25rem;
        margin-top: 3.75rem;
        margin-bottom: 0.625rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    ul.navMenu {
        text-align: center;
        list-style-type: none;
        padding-left: 0px;
        margin: 0;
        font-size: 1.56rem;
        font-weight: 700;
        color: black;
        display:flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
          }
    h1{
            color: #DD3643;
            text-align: center;
            font-size: 3.125rem;
            line-height: 0px;    
            font-weight: 900;
            letter-spacing: 3px;
            margin-left: auto;
            margin-right: auto;
        }
        h3{
            font-size: 2rem;
            padding: 0px;
        }
        h4{
            font-size: 2rem;
            padding: 0px;
        }
        .emiliano{
            margin-bottom: 2.188rem;
        }
        .dalmati{
            margin-top: 2.188rem;
            font-size: 3.25rem;
        }
        .submenu{
            position:unset ;
            display: none;
        }

        header label{
            margin-top: 10%;
            display: block;
        }

        .navMobile{
           
            display: none;
        }
        #btn-menu:checked ~ .navMobile {
            display:flex;
            flex-direction: column;;
        }

        // .navMobile{
        //     top: 0;
        //     left: -100%;
        //     width: 100%;
        //     height: 100vh;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: center;
        // }
        // .navMobile.open{
        //     left: 0;
        // }
        // .navMobile a{
        //     padding: 1rem;
        // }
        // .hamburger {
        //     position: fixed;
        //     bottom: 2rem;
        //     right: 2rem;
        //     padding: 0.5em 1em;
        //     background: grey;
        //     border: none;
        //     border-radius: 50%;
        //     box-shadow: 1px 1px 3px #000;
        //     cursor: pointer;
        //     z-index: 1000;
        //   }
}

@media only screen and (min-width: 720px) and (max-width: 1024px) {
 
    .gridMaterial{
        display: grid;
        grid-template-areas: "imgMaterial materialGt" "imgMaterial materialTeoria" "imgMaterial materialAudio";
        grid-template-rows: 26rem 26rem 26rem;
        grid-template-columns: 35% 65%;
        text-align: center;
        
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    h6{
        line-height: 1.25rem;
        margin-left: 5%;
    }
    .socialDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
    }
    header{
        background-color: white;
        padding-bottom: 1.25rem;
        margin-top: 3.75rem;
        margin-bottom: 0.625rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    ul.navMenu {
        text-align: center;
        list-style-type: none;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.563rem;
        font-weight: 700;
        color: black;
        display: flex;
        flex-direction: column;

          }
          h1{
            color: #DD3643;
            text-align: center;
            font-size: 3.125rem;
            line-height: 0px;    
            font-weight: 900;
            letter-spacing: 3px;
            margin-left: auto;
            margin-right: auto;
        }
        h3{
            font-size: 2rem;
            padding: 0px;
        }
        h4{
            font-size: 2rem;
            padding: 0px;
        }
        .emiliano{
            margin-bottom: 2.188rem;
            margin-left: auto;
            margin-right: auto;
        }
        .dalmati{
            margin-top: 2.188rem;
            font-size: 3.25rem;
            margin-left: auto;
            margin-right: auto;
        }
        .submenu{
            position:unset ;
            display: none;
            margin-left: auto;
            margin-right: auto;
        }
}