@media only screen and (max-width: 720px) {
    .gridMaterial{
        display: grid;
    grid-template-areas: "imgMaterial " "materialGt " "materialTeoria " "materialAudio";
    grid-template-rows: 700px 700px 700px 700px;
    grid-template-columns: 100%;
    text-align: center;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    h6{
        line-height: 20px;
        margin-left: 5%;
    }
    .socialDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
    }
    header{
        background-color: white;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        width: 75%;
    }
    ul.nav {
        text-align: center;
        list-style-type: none;
        margin: 10;
        font-size: 25px;
        font-weight: 700;
        color: black;
        display:flex;
        flex-direction: column;
          }
          h1{
            color: #DD3643;
            text-align: center;
            font-size: 50px;
            line-height: 0px;    
            font-weight: 900;
            letter-spacing: 3px;
            margin-left: 75px;
        }
        .emiliano{
            margin-bottom: 35px;
        }
        .dalmati{
            margin-top: 35px;
            font-size: 52px;
        }
        .submenu{
            position:unset ;
            display: none;
        }
}

@media only screen and (min-width: 720px) and (max-width: 1024px) {
 
    .gridMaterial{
        display: grid;
        grid-template-areas: "imgMaterial materialGt" "imgMaterial materialTeoria" "imgMaterial materialAudio";
        grid-template-rows: 500px 500px 500px;
        grid-template-columns: 35% 65%;
        text-align: center;
        
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    h6{
        line-height: 20px;
        margin-left: 5%;
    }
    .socialDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
    }
    header{
        background-color: white;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        width: 75%;
    }
    ul.nav {
        text-align: center;
        list-style-type: none;
        margin: 10;
        margin-left: 45%;
        font-size: 25px;
        font-weight: 700;
        color: black;
        display: flex;
        flex-direction: column;
          }
          h1{
            color: #DD3643;
            text-align: center;
            font-size: 50px;
            line-height: 0px;    
            font-weight: 900;
            letter-spacing: 3px;
            margin-left: 45%;
        }
        .emiliano{
            margin-bottom: 35px;
        }
        .dalmati{
            margin-top: 35px;
            font-size: 52px;
        }
        .submenu{
            position:unset ;
            display: none;
        }
}