.textoEva {
    display: inline-block;
    color: white;
    width: 50%;
}
.listaFechas{
    text-align: center;
    margin: auto;
    font-size: 20px;
}




.videoMegaloDiv {
    display: flex;
    flex-wrap: wrap;
  width: 100%;
    
    margin-top: 30px;
    margin-bottom: 30px;
}
.videosTitulo{
    
    text-align: center;
}
.videoMegalovania {
    
    margin-right: 70px;
    width: 50%;
}
.textoVideoMegalo {
    
    margin-top: 10px;
    margin-left: 70px;
    font-weight: 400;
    animation-name: cambioDeColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  width: 50%;
  margin: auto;
    align-items: center;
   justify-items: center;
}

.carrera {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 80px;
    color: black;
}
.picSobreMi {
    background-image: url(../Imagenes/fotoAboutEmi.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@keyframes cambioDeColor {
    0% {
        color: #dd3643;
    }

    60% {
        color: black;
    }
    100% {
        color: #dd3643;
    }
}
