.textoEva {
    display: inline-block;
    color: white;
    width: 50%;
}
.divListaMaldita {
    background-image: url("../Imagenes/Foto_BG_About_Emi.jpg");
    padding-bottom: 60px;
    padding-top: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-position: bottom;
    color: white;
}

.videoMegaloDiv {
    display: grid;
  grid-template-areas: "videosTitulo videosTitulo" "megaloTexto megaloVideo";
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 500px; 
  width: 100%;
    
    margin-top: 30px;
    margin-bottom: 30px;
}
.videosTitulo{
    grid-area: videosTitulo;
    text-align: center;
}
.videoMegalovania {
    grid-area: megaloVideo;
    margin-right: 70px;
    width: 50%;
}
.textoVideoMegalo {
    grid-area: megaloTexto;
    margin-top: 10px;
    margin-left: 70px;
    font-weight: 400;
    animation-name: cambioDeColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  width: 50%;
  margin: auto;
    align-items: center;
   justify-items: center;
}

.carrera {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 80px;
    color: black;
}
.picSobreMi {
    background-image: url(../Imagenes/fotoAboutEmi.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@keyframes cambioDeColor {
    0% {
        color: #dd3643;
    }

    60% {
        color: black;
    }
    100% {
        color: #dd3643;
    }
}
